---
# Description: Perform a full system update on Debian machine,
#              after the machine reboots update pi-hole.

- name: Update server with pi-hole
  hosts: pihole
  serial: 1
  become: true

  tasks:
    - name: Update packages
      ansible.builtin.apt:
        update_cache: yes
        upgrade: dist # Performs a 'dist-upgrade' which handles dependency changes gracefully
        cache_valid_time: 3600

    - name: Reboot the server after update
      ansible.builtin.reboot:
        reboot_timeout: 600 # Wait up to 10 minutes
        connect_timeout: 30
        post_reboot_delay: 60

    - name: Check that pi-hole is running
      ansible.builtin.command: sudo pihole status
      register: pihole_result

    - name: Show output of pi-hole status
      ansible.builtin.debug:
        msg: "{{ pihole_result.stdout }}"

    - name: Show pi-hole version before update
      ansible.builtin.command: sudo pihole version
      register: pihole_result

    - name: Show output of pihole version
      ansible.builtin.debug:
        msg: "{{ pihole_result.stdout }}"

    - name: Update pi-hole
      ansible.builtin.command: sudo pihole -up -g
      register: pihole_result

    - name: Show output of pi-hole update command
      ansible.builtin.debug:
        msg: "{{ pihole_result.stdout }}"

    - name: Check that pi-hole is running after the update
      ansible.builtin.command: sudo pihole status
      register: pihole_result

    - name: Show output of pihole status
      ansible.builtin.debug:
        msg: "{{ pihole_result.stdout }}"

    - name: Show pi-hole version after update
      ansible.builtin.command: sudo pihole version
      register: pihole_result

    - name: Show output of pihole version
      ansible.builtin.debug:
        msg: "{{ pihole_result.stdout }}"

    - name: Show message when complete
      ansible.builtin.debug:
        msg: "{{ inventory_hostname }} has been successfully updated and rebooted."
